.image-1 {
  top: 0%;
  right: 26%;
  z-index: 3;
}

.image-1 img {
  width: 300px !important;
}

.image-2 {
  right: 8%;
  top: 20%;
  z-index: 4;
}

.image-2 img {
  width: 250px !important;
}

.image-3 {
  bottom: 5%;
  right: 20%;
  z-index: 3;
}

.image-4 {
  left: 20%;
  bottom: 5%;
  z-index: 1;
}

.image-5 {
  left: 2%;
  top: 10%;
  z-index: 3;
}

.image-6 {
  left: 25%;
  top: 5%;
  z-index: 3;
}

.nav {
  opacity: 0;
}
